html{
	height:100%;	
}
body {
	background-color:white;
	font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
	text-align: center;
	margin:8px;
	height:calc(100% - 16px);
}
#loginbox{
	position:relative;
	top:30%;	
}
#signup{
	padding:8px;
}
#sidebar {
	text-align:left;
	width:15%;
	float:left;
	margin:0px;
	padding:0px;
}
#searchbox{
	height:30px;
	width:calc(100% - 8px);
	box-shadow:2px 2px 10px grey;
}
button:hover {
	background-color:#B2E0FF;
}
button:active {
	background-color:white;
}
#search_button{
	float:left;
	height:30px;
	width:30px;
	padding:0px;
}
#search_text{
	height:30px;
	width:calc(100% - 30px);
	border:0px;
	float:left;
	margin:0px;
	padding:0px;
}
h1,h2,h3 { 
	display:inline;
}
h2{
	color:#66C2FF;
	text-shadow:2px 2px 5px black;
}
button {
	border:0px;
	margin:0px;
	background-color:#66C2FF;
}

#logout{
	height:30px;
	width:30px;
	box-shadow:2px 2px 10px grey;
	padding:0px;
}
#sortbox{
	float:right;
	margin-right:8px;
}
#sortby {
	border:0px;
	height:30px;
	box-shadow:2px 2px 10px grey;
	background-color:white;
}
#userbox {
	float:right;
}
#rightbox {
	float:right;
	height:100%;
	width:85%;
}
#header {
	height:30px;
}
#google_map {
	height:calc(100% - 30px);
	width:100%;
}