body {
	background-color:skyblue;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	
}

#sidebar {
	text-align:left;
}

h1,h2 { 
	display:inline;
}

#header {
	display:inline;
}


